.DS_Store
build
.git
*.egg-info
*.jpg
*.png
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints/**
output/**
data/samples/**
data/CFD/images/*.jpg
data/GAPs384/images/*.jpg
data/MDT/**
logs/**





